<!DOCTYPE html>
<html>
    <head>
        <title>We Are Number One but it's on a Google App Engine Website</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="main">
            <h1>We Are Number One but it's on a Google App Engine Website</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PfYnvDL0Qcw" frameborder="0" allowfullscreen></iframe>
            <br>
            <h3>This meme has been seen {{ visits }} times.</h3>
            <a href="/tutorial"><h6>How to host your website on GAE (using python or java)</h6></a>
        </div>
        <br>
    </body>
</html>
